/*Page Body*/
body {
    margin: 0;
    padding: 0;
    background: url(Photos/Samurai.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

.box img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100%;
}

.box p{
    text-align: justify;
}

.box ul {
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;

}

.box li a {
color: white;
text-decoration: none;
font-size: 60px;
transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: #b9b9b9;
}

/* NAVI BAR*/

.navBar *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: rgba(0, 0, 0, 0.89);
    font-family: 'Lato', sans-serif;
}

.navBar {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:  18px;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a{
color: white;
text-decoration: none;
letter-spacing: 3px;
font-weight: bold;
font-size: 14px;
}

.stack{
    display: none;
    cursor: pointer;
}

.stack div{
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width:1024px){
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 6vh;
        background-color: rgba(0, 0, 0, 0.89);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        }
    
        .nav-lings li {
        opacity: 0;
    }

    .stack{
        display: block;
    }
    
}

.nav-active{
    transform: translateX(0%)
}


/*.resize {
    width: 400px;
    height: auto;
}

.resize{
    width: 300px;
    height: auto;
}*/

